{% extends 'base.html.twig' %}

{% block title %}Casse du CDA!!!{% endblock %}

{% block body %}
<h1 class='text-center fs-1 mt-3'>Casse du CDA !!!</h1>
{% for model in models %}
   <div class="row justify-content-center">
{% for model in models %}
    <div class="col-md-4 d-flex justify-content-center mb-4">
        <div class="card" style="width: 18rem;">
            <img src="{{model.brand.image}}" class="card-img-top" alt="Renault logo">
            <div class="card-body">
                <h2 class="card-title">{{model.brand.name}} {{model.name}}</h2>
                <h5>{{model.brand.manufactureName}}, {{model.brand.countryOfManufacture}}</h5>
                <h5>{{model.serialNumber}}</h5>
                <h5>{{model.dataOfManufacture | date('d/m/Y')}}</h5>
            </div>
        </div>
    </div>
{% endfor %}
{{ knp_pagination_render(models) }}
</div>
    
{% endfor %}
{% endblock %}
